# .env.example
# Скопируйте в .env и заполните своими данными

DB_NAME=moscow_metro
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=generate_your_own_secret_key